@font-face {
    font-family: 'Karla';
    src: url('/fonts/Karla regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Karla';
    src: url('/fonts/Karla 700.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'DM Serif Display';
    src: url('/fonts/DM Serif Display regular.ttf');
}